@page "/"

<h1>SkyPeek - Ứng dụng dự báo thời tiết</h1>

<p>
    <b>SkyPeek</b> là ứng dụng web giúp bạn tra cứu thời tiết hiện tại và dự báo theo giờ, theo ngày cho nhiều địa
    điểm khác nhau.<br />
    Ứng dụng hỗ trợ tìm kiếm theo tên thành phố, sử dụng GPS hoặc chọn vị trí trên bản đồ Google Maps.<br />
    Ngoài ra, SkyPeek còn hiển thị biểu đồ nhiệt độ, xác suất mưa, tốc độ gió, và cảnh báo mưa sắp tới.
</p>