@using Microsoft.AspNetCore.Components.Routing

<ul class="navbar-nav ms-auto align-items-lg-center">
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <i class="fa-solid fa-house-chimney me-1"></i> Trang chủ
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/weather">
            <i class="fa-solid fa-cloud-sun me-1"></i> Thời tiết
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/chat">
            <i class="fa-solid fa-robot me-1"></i> Chatbot
        </NavLink>
    </li>
</ul>